.neuron {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 100%;
  border: 1px solid $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .neuron__value {}

  .neuron__error {
    font-size: 0.8em;
  }

  .neuron__out, .neuron__in {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid $white;

    &:before {
      content: ' ';
      position: absolute;
      top: 50%;
      width: 20px;
      height: 1px;
      background: $white;
      opacity: 0.2;
    }

    &.neuron__in {
      left: -40px;
      transform: translate(0, -50%);
      &:before { left: 20px; }
    }

    &.neuron__out {
      right: -40px;
      transform: translate(0, -50%);
      &:before { left: -20px; }
    }

    &:not(.active) {
      display: none;
    }
  }

  .connection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center left;
    height: 20px;
    pointer-events: none;

    .connection__weight {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      padding: 2px 4px;
      background: $black;
    }

    .connection__inner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 1px;
      opacity: 0.5;
      border-bottom: 1px solid rgba($white, 0.2);

      &:after {
        content: ' ';
        position: absolute;
        right: 0;
        top: 50%;
        width: 4px; height: 4px;
        border-top: 2px solid $white;
        border-right: 2px solid $white;
        transform: rotate(45deg);
        transform-origin: top right;
        opacity: 0;
      }
    }
  }

  &:hover, &.selected {
    .connection {
      z-index: 1;

      .connection__weight {
        opacity: 1;
      }

      .connection__inner {
        opacity: 1;
        border-bottom: 1px solid $white;

        &:after {
          opacity: 0;
        }
      }
    }
  }

  &:not([data-outgoing]) {
    border-width: 3px;
  }

  &:not([data-incoming]) {
    border-width: 3px;
  }
}
