.neural-network {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 75%;
  display: flex;
  flex-direction: column;

  .neural-network__layers {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    .neural-network__label {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .neural-network__stats {
    margin-bottom: 10px;
  }

  .neural-network__controls {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    user-select: none;

    .neural-network__control {
      padding: 10px;
      margin-right: 5px;
      outline: 1px solid $white;
      cursor: pointer;
    }
  }
}
